:root {
  --bg-color: #fdfdfd;
  --primary-color: #017dc2;
  --text-color: #222222;
  --text-color-light: #f8f8f8;
  --navBar-height: 3rem;
  --border-width: 0.3rem;
}

html {
  font-family: "Red Hat Text", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 2rem;
  border-bottom: var(--border-width) solid var(--primary-color);
  display: inline-block;
}

h3 {
  margin: 0;
  font-weight: 500;
}

a {
  text-decoration: underline;
  color: var(--primary-color);
}

a:hover {
  text-decoration: underline;
  filter: brightness(150%);
}

header {
  width: 100%;
  height: 100vw;
  position: relative;
}

header img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

header h1 {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 19rem;
  max-width: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  color: var(--text-color-light);
  padding: 2rem 2rem;
  border-radius: 0 1rem 1rem 0;
}

footer {
  width: 100%;
  height: 7rem;
  background: var(--primary-color);
  color: var(--text-color-light);
  text-align: center;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

nav {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

nav button {
  width: 3rem;
  height: 3rem;
  align-self: flex-end;
  background: rgba(0, 0, 0, 0.5);
  color: var(--text-color-light);
  border: none;
}

nav button span {
  display: none;
}

nav ul {
  display: none;
  list-style: none;
  background: var(--bg-color);
  width: 100%;
  margin: 0;
  padding: 2rem 0;
  box-sizing: border-box;
  text-align: center;
  flex: 0;
  transition: all 0.6s;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 500;
}

.is-active {
  display: block;
}

#nav-close-icon {
  font-size: 3rem;
  line-height: 0;
}

#nav-burger-icon {
  font-size: 2rem;
}

.nav-current-page {
  color: var(--primary-color);
  text-decoration: underline;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }

  nav {
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.25);
  }

  nav button {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem;
    height: 3rem;
  }

  nav li {
    margin: 0 0.8rem;
  }

  nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
  }

  nav a:hover {
    text-decoration-color: var(--primary-color);
  }

  footer {
    height: 9rem;
  }
}

main {
  margin: 0 1rem;
}

main img {
  margin: 0 -1rem;
}

.fat-blue-text {
  font-weight: 500;
  color: var(--primary-color);
}

@media (min-width: 1200px) {
  html {
    font-size: 24px;
  }

  header h1 {
    width: 30rem;
  }
}
