:root {
  --bg-color: #fdfdfd;
  --primary-color: #017dc2;
  --text-color: #222222;
  --text-color-light: #f8f8f8;
  --navBar-height: 3rem;
  --border-width: 0.3rem;
}

html {
  font-family: "Red Hat Text", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 2rem;
  border-bottom: var(--border-width) solid var(--primary-color);
  display: inline-block;
}

h3 {
  margin: 0;
  font-weight: 500;
  color: var(--primary-color);
}

a {
  text-decoration: underline;
  color: var(--primary-color);
}

a:hover {
  text-decoration: underline;
  filter: brightness(150%);
}

header {
  width: 100%;
  height: 100vw;
  position: relative;
}

header img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

header h1 {
  position: absolute;
  top: 3rem;
  left: 0;
  max-width: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  color: var(--text-color-light);
  padding: 2rem 2rem;
  border-radius: 0 1rem 1rem 0;
}

footer {
  width: 100%;
  height: 7rem;
  background: var(--primary-color);
  color: var(--text-color-light);
  text-align: center;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

nav {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

nav button {
  position: absolute;
  z-index: 3;
  width: 3rem;
  height: 3rem;
  align-self: flex-end;
  background: rgba(0, 0, 0, 0.5);
  color: var(--text-color-light);
  border: none;
}

nav button span {
  display: none;
}

nav ul {
  position: absolute;
  display: none;
  list-style: none;
  background: var(--bg-color);
  width: 100%;
  margin: 0;
  padding: 2rem 0;
  box-sizing: border-box;
  text-align: center;
  flex: 0;
  transition: all 0.6s ease;
  transform: translateY(-500px);
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 500;
}

.animate-open {
  transform: translateY(0);
}

.is-active {
  display: block;
}

#nav-close-icon {
  font-size: 3rem;
  line-height: 0;
}

#nav-burger-icon {
  font-size: 2rem;
}

.nav-current-page {
  color: var(--primary-color);
  text-decoration: underline;
}

.smaller-h2 {
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }

  header {
    height: 28rem;
  }

  header h1 {
    top: 9rem;
    font-size: 3rem;
  }

  header img {
    margin-top: 3rem;
    height: calc(100% - 3rem);
  }

  nav {
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.25);
  }

  nav button {
    display: none;
  }

  nav ul {
    position: unset;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0.75rem 1.5rem;
    align-items: center;
    transform: unset;
  }

  nav li {
    margin: 0 0.8rem;
  }

  nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
  }

  nav a:hover {
    text-decoration-color: var(--primary-color);
  }

  footer {
    height: 9rem;
  }

  .smaller-h2 {
    font-size: 2rem;
  }
}

main {
  margin: 0 1rem;
}

main img {
  margin: 0 -1rem;
}

.fat-blue-text {
  font-weight: 500;
  color: var(--primary-color);
}

#scroll-up-button {
  width: 48px;
  height: 48px;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg width='18' height='27' viewBox='7.5 2 10 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.6568 8.96219L16.2393 10.3731L12.9843 7.10285L12.9706 20.7079L10.9706 20.7059L10.9843 7.13806L7.75404 10.3532L6.34314 8.93572L12.0132 3.29211L17.6568 8.96219Z' fill='%23017DC2' /%3E%3C/svg%3E"),
    linear-gradient(to bottom, #f0f0f0 0%, #f0f0f0 100%);
  background-repeat: no-repeat, repeat;
  background-position: center, 0 0;
  border: 0;
  border-radius: 50%;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  animation: fadein 8s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 24px;
  }

  main {
    margin: 0 4rem;
  }

  main img {
    margin: 0;
  }

  header h1 {
    font-size: 4rem;
    top: 8rem;
  }

  #scroll-up-button {
    display: none;
  }
}
