.index-main {
  margin: 0 1rem;
}

.index-header {
  height: 100vh;
}

.index-title {
  top: 30%;
  font-size: 1.3rem;
  width: 19rem;
}

.extra-large-title {
  font-size: 3.5rem;
  margin-left: 1rem;
}

.index-intro-section {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.news-section {
  max-width: 1200px;
}

.news-article {
  border-left: var(--border-width) solid var(--primary-color);
  padding-left: 0.5rem;
  margin-bottom: 3rem;
}

.news-date {
  margin: 0;
  color: #2d2d2d;
}

.news-article img {
  margin: 0;
  width: 100%;
}

.news-article figure {
  margin: 2rem auto 0;
  width: 80%;
  max-width: 500px;
}

@media (min-width: 1200px) {
  .index-title {
    font-size: 2rem;
    width: 29rem;
  }

  .extra-large-title {
    font-size: 6rem;
  }
  .index-intro-section {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .index-intro-section img {
    width: 42.5%;
    margin: 0 2rem 0 -1rem;
    object-fit: contain;
  }

  .news-section {
    margin-left: 3rem;
  }

  .news-article {
    display: grid;
    grid-template-columns: 1fr 400px;
  }

  .news-article * {
    grid-column: 1 / 2;
  }

  .news-article figure {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    margin-left: 1rem;
  }
}

#scroll-down-button {
  width: 2.65rem;
  height: 2.65rem;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg width='24' height='24' viewBox='3 6 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath d='M6.34317 7.75732L4.92896 9.17154L12 16.2426L19.0711 9.17157L17.6569 7.75735L12 13.4142L6.34317 7.75732Z' fill='%23017DC2' /%3E%3C/svg%3E"),
    linear-gradient(to bottom, #f0f0f0 0%, #f0f0f0 100%);
  background-repeat: no-repeat, repeat;
  background-position: center, 0 0;
  border: 0;
  border-radius: 50%;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 1rem;
  right: calc(50% - 1.325rem);
}
