.index-main {
  margin: 0 1rem;
}

.index-header {
  height: 100vh;
}

.index-title {
  top: 30%;
  font-size: 1.3rem;
}

.extra-large-title {
  font-size: 3.5rem;
  margin-left: 1rem;
}

.index-intro-section {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.news-section {
  max-width: 1200px;
}

.news-article {
  border-left: var(--border-width) solid var(--primary-color);
  padding-left: 0.5rem;
  margin-bottom: 3rem;
}

.news-date {
  margin: 0;
  color: #2d2d2d;
}

.news-article img {
  margin: 0;
  width: 100%;
}

.news-article figure {
  margin: 2rem auto 0;
  width: 80%;
  max-width: 500px;
}

@media (min-width: 1200px) {
  .index-title {
    font-size: 2rem;
  }

  .extra-large-title {
    font-size: 6rem;
  }
  .index-intro-section {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .index-intro-section img {
    width: 42.5%;
    margin: 0 2rem 0 -1rem;
    object-fit: contain;
  }

  .news-section {
    margin-left: 3rem;
  }

  .news-article {
    display: grid;
    grid-template-columns: 1fr 400px;
  }

  .news-article * {
    grid-column: 1 / 2;
  }

  .news-article figure {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    margin-left: 1rem;
  }
}
